/* custom fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body{ box-sizing:; font-family: Open Sans; overflow-x: hidden; }
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0;
}

/*
    -----------
    navbar code
    -----------
*/

/*top nav*/
.top-nav { height: 50px; background-color: #000; padding-left: 200px; }
.top-nav .navbar-right { padding-right: 30px; }
.top-nav .top-nav-container { max-width: 1000px; margin: 0 auto; }
.top-nav a { font-size: 10px !important; cursor: pointer; color: #aaa; }
.top-nav a:hover { background-color: transparent !important; color: #fff !important; }
/*logo*/ 
.navbar-brand{ font-size: 40px; color: #fff !important; padding: 5px 0px; font-weight: 800; }
.navbar-brand img{ width:40px; height:40px; padding-bottom: 7px;}
.navbar-inverse{ border: none; border-radius: 0px; margin: 0; background-color: #000 }
.navbar-inverse .navbar-nav > li > a{ }


/*slider*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img { width: 100%; height: 600px; }
#content-slider .carousel-inner > .item > img, .carousel-inner > .item > a > img { width: 100%; height: 357px; }
#content-slider { position: relative; }
#content-slider .open_account_panel { width: 100%; height: 357px; padding: 130px 0px; position: absolute; top: 0; left: 0; background-color: greenyellow; z-index: 999; display: none; transition: .4s all; }
.openaccount_panel { display: block !important; }
#content-slider .open_account_panel label { font-size: 30px; padding-top: 10px; }
#content-slider .open_account_panel input[type=email] { height: 62px; border-radius: 0px; }
#content-slider .open_account_panel .next { height: 60px; width: 200px; border: none; background: #222; color: #fff; }
#content-slider .open_account_panel .close_account_panel { height: 60px; border: none; cursor: pointer; background: transparent; color: #aaa; font-size: 20px; }
.carousel-caption { top: 30%; left: 10% !important; text-align: left; }
.carousel-caption p { font-family: Open Sans; font-size: 40px; font-weight: 100 !important; }
.carousel-indicators{ bottom: 40px; left: 90%; }
.carousel-indicators li{ display: inline-block; width: 20px; height: 20px; border-radius: 50px; margin: 10px; text-indent: 0; cursor: pointer; border: none; background-color: rgba(255, 255, 255, .6); }
.carousel-indicators .active{ width: 20px; height: 20px; border-radius: 50px; margin: 10px; background-color: greenyellow; }


/* open account button */
.carousel .open_account_btn{ position: absolute; font-weight: 800; cursor: pointer; color: #222; background-color: greenyellow; height: 50px; line-height: 50px; padding: 0px 20px; width: 250px; bottom: 50px; left: 20px; border-radius: 10px; }
.carousel .open_account_btn i { right: 10px; position: absolute; font-size: 20px; }

/*home page image overlays*/
.home_image_overlay { width: 50%; height: 400px; overflow: hidden; float:left; position: relative;}
.home_image_overlay:hover img { transform: scale(1.10); }
.home_image_overlay img { width: 100%; height: 400px; transition: .4s all; }
.home_image_overlay .overlay-inner { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;padding: 80px; }
.home_image_overlay .overlay-inner p { color: #fff; font-size: 30px; font-weight: 100; }
.home_image_overlay .overlay-inner a { color: greenyellow; }

/*login panel*/
.login-panel { width: 100%; height: 200px; background: #222; display: none; padding: 80px 40px; }
.login-panel input[type=email], input[type=password]{ height: 50px; border-radius: 0px; font-size: 20px; }
.login-panel button { background-color: greenyellow; height: 50px; border: none; width: 200px; text-align: left; padding: 0px 20px; font-weight: 800; }
.login-panel label { color: #fff; font-size: 30px; }
.login-panel a { color: #fff; text-decoration: underline; }
.login-panel .close_login_panel { color: #444; padding-left: 20px; font-size: 20px; }

/*
    -----------------
    home page content
    -----------------
*/

#welcome-content p { color: #888 !important; font-weight: 600; font-size: 15px; line-height: 30px; }
#welcome-content .hamza { padding-top: 800px; }
.yello-btn { color: greenyellow !important; }

/*
    -----------
    site footer
    -----------
*/
footer .footer-strip { color: #fff; line-height: 50px; background-color: #222; padding: 0px 120px; font-size: 20px; margin-bottom: 50px;}
footer .footer-strip i { color: #c10611; margin-right: 15px; }
.footer-strip .footer-social { float: right; }
.footer-strip .footer-social ul { padding: 0; margin: 0; }
.footer-strip .footer-social ul li { display: inline-block; }
.footer-strip .footer-social ul li a i { color: #fff !important; font-size: 25px; }
footer { background-color: #161616;}
footer p { color: #aaa; }
footer a { color: #aaa; }
footer  hr { border: 0.5px solid #333; }
footer h5 { color: #fff; font-family: Open Sans; }
footer ul { padding: 0; margin: 0; margin-top: 30px; }
footer ul li { color: #a7b8b2; }
footer ul li i { margin-right: 10px; font-size: 15px; color: #c10611; }
footer ul li a { color: #aaa; font-size: 12px; display: block; text-decoration: none !important; }

/*
    --------------
    search overlay
    --------------
*/

.search_overlay{ position: fixed; background-color: rgba(0,0,0,.9); width: 100%; height: 100%; text-align: center;z-index:1100; color: #fff; padding: 200px 200px; display: none; }
.search_overlay .search_result { width: 100%; height: 150px; border: none; outline: none; background-color: transparent; font-weight: 800; font-family: Impact; font-size: 80px; letter-spacing: 10px; color: #fff; }
.search_overlay .cancel_search { border: none; background-color: transparent; outline: none; font-size: 40px; color: #fff; position: absolute; top: 40px; right: 110px; }